* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}



a {
    text-decoration: none;
    color: white;
}
ul {
    list-style-type: none;
}



header {
    display: inline-block;
    width: 100%;
    position: fixed;
    background-color: #889EAF ;
}
nav {
    display: inline-block;
    margin-top: 12px;
}
nav ul li {
    display: inline;
    padding: 5px 15px;
    color: white;
}

nav ul {
    float: left;
    margin:0;
    margin-top: 20px;
}

header div button {
    display: inline;
}

header div {
    float: right;
    margin: 20px 40px 20px 10px;
}
.logo {
    float: left;
    margin: 0px 40px 20px 35px;
    padding: 5px;
}

.logo:hover {
    cursor: pointer;
}

.nav-link {
    padding: 8px 15px;
   margin-left: 132px;
}
.nav-link:hover{
    color: black;
    background-color: white;
}

button {
    border-style: none;
}
.btn-trial {
    margin-right: 10px;
    padding: 15px 25px;
    border-radius: 5px;
    color: white;
    background-color: #D4B499;
    font-weight: 700;
}

.btn-trial:hover {
    background-color: #3B76AB;
    cursor: pointer;
}

.btn-login{
    margin-right: 10px;
    border: 2px solid white;
    padding: 13px 30px;
    border-radius: 5px;
    color: white;
    background: none;
    font-weight: 700;
}

.btn-login:hover{
    background-color: #77BAB6;
    cursor: pointer;
}

main {
    background-color: white;
}


.contact {
    background-color: #889EAF;
    padding-top: 100px;
    padding-bottom: 72px;
    text-align: center;
}

.contact h1 {
    color: white;
    font-size: 48px;
    padding: 25px;
}

.form {
    width: 50%;
    padding: 32px 20px 20px 40px;
    background-color: white;
    display: inline-block;
}

.team {
    background-color: white;
    width: 50%;
    float: right;
    padding: 32px 20px 20px 40px;
}
.form h2, .social-media h2 {
    color: #D4B499  ;
    margin: 16px;
    font-weight: 600;
    font-size: 28px;
}

.form p, .social-media p {
    font-weight: lighter;
    margin: 16px;
    font-size: 18px;
}


form input {
    display: block;
    padding: 8px;
    width: 100%;
    margin: 16px 16px;
    border: 1.5px solid #e8ebec;
    border-radius: 5px;
    
}

input::placeholder {
    font-style: italic;
}

textarea {
    resize: none;
    display: block;
    padding: 8px;
    width: 100%;
    margin: 16px 16px;
    border: 1.5px solid #e8ebec;
    border-radius: 5px;
}

textarea::placeholder {
    font-style: italic;
    color: #e8ebec;
}


.form-submit {
    color: white;
    width: auto;
    float: right;
    margin-bottom: 20px;
    background-color: #506D84;
    border-style: none;
    padding: 8px 20px;
    font-family: Arial, Helvetica, sans-serif;

}
.fb{
    float: right;
    height: 64px;
    margin-right: 801px;
    margin-top: -232px;


}
.twi {
    float: right;
    height: 69px;
    margin-right: 797px;
    margin-top: -167px;

}
.in {
    float: right;
    height: 60px;
    margin-right: 788px;
    margin-top: -93px;
}


.social-media {
    background-color: white;
    width: 50%;
    float: right;
    padding: 32px 20px 20px 40px;
}

#social-media-subtitle {
    color: #D4B499;
    font-size: 22px;
    margin-top: 32px;
}
span{
    color: #D4B499;
}

.social-media-list {
    padding: 32px 20px 20px 40px;

}

.social-media-list p{
    margin-left: 64px;
    margin-top: 12px;
    font-size: 20px;
}
footer {
    background-color: #506D84;
    overflow: auto;
    color: white;
    font-weight: 300;
}

footer h3 {
    font-size: 16px;
    font-weight: lighter;
    color: white;
    margin-bottom: 8px;
}

.footer-div {
    float: left;
}

.clear-float {
    clear: both;
}


.footer-about, .footer-help, .footer-resoures, .footer-landing, .footer-commercial {
    padding: 22px;
    margin-left: 16px;
}
.footer-about {
    margin-left: 52px;
}
footer ul {
    color: black;
    margin-top: 8px;
}

.footer-trial {
    width: 15%;
    padding: 22px 0px 22px 22px;
    margin-left: 16px;

}

footer i {
    color: #000000;
}

.footer-btn {
    background-color: #032030;
    color: white;
    padding: 8px 16px;
    border-radius: 5px;
    margin-top: 8px;
}

.footer-btn:hover {
    cursor: pointer;
    background-color: #43b0f1;
}

.copyrights {
    padding: 8px 16px 18px 64px;
    background-color: #032030;
    width: 100%;
    font-size: 12px;
    color: rgb(255, 255, 255);
    font-weight: lighter;
}

.copyrights span {
    color: #D4B499;
}
#ilias{
    color: #032030;
}